.partInformations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px 0;
}

.partInformations h2{
    margin: 0;
}

.imgJP {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}


.infoMoiTexte p {
    text-align: justify;
}

.infoLiens {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.infoLiens .infoIcons {
    height: 50px;
    padding: 5px;
}

.infoLiens .infoIcons1 {
    color: #0e76a8;
}

.infoLiens .infoIcons2 {
    color: #00ACEE;
}

.infoLiens .infoIcons3 {
    color: #010408;
}

@media screen and (min-width:1025px){
    .partInformations {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .infoMoiPhoto {
        width: 25%;
    }

    .infoMoiTexte {
        width: 65%;
    }

    .infoLiens {
        width: 10%;
    }

    .infoMoi{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .infoLiens {
        padding-right: 10px;
    }
}

@media screen and (max-width:1024px){
    .infoMoi{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .infoMoiPhoto{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }
    
    .imgJP {
        height: 150px;
        width: 150px;
    }

    .infoMoiTexte {
        padding: 10px 0;
    }
    
    .infoLiens {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        padding: 10px 0;
    }
    
    .infoLiens .infoIcons {
        height: 50px;
        padding: 0px 30px;
    }
}

@media screen and (max-width:480px){
    .imgJP {
        height: 100px;
        width: 100px;
    }

    .infoLiens .infoIcons {
        height:40px;
        padding: 0px 20px;
    }

    .partInformations{
        margin: 10px 5px;
    }
}