.partMeContacter {
    background-color: pink;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 20px;
    animation: entrance-effect 1000ms forwards;
}

.partMeContacter h2{
    margin: 0;
}

.textMeContacter {
    text-align: center;
    padding-bottom: 5px;
}

.textMeContacter p {
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    padding: 10px 0;
}

.boutonMeContacter {
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    background-color: black;
    border: solid 2px;
}

.boutonMeContacter a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}


@media screen and (min-width:1025px){

}


@media screen and (max-width:1024px){

}

@media screen and (max-width:834px){
  
}

@media screen and (max-width:768px){
  
}

@media screen and (max-width:480px){
  
}