.partRealisations {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px 0px;
}

.partRealisations h2 {
    padding: 10px 0;
}

.cardRealisations {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 40px;
    max-width: 1200px;
}

@media screen and (min-width:1025px){

}


@media screen and (max-width:1024px){

}

@media screen and (max-width:834px){
  
}

@media screen and (max-width:768px){
  
}

@media screen and (max-width:480px){
  
}