.gallery{
        display: flex;
        justify-content: center;
}

.galleriePhoto {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.galleriePhotoTitre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.texteContainer {
    padding: 0 60px;
}

.photos{
    display: flex;
    justify-content: center;
}

.gallery-image{
    height: 450px;
    width: 800px;
    object-fit:cover;
    border-radius: 20px;
    margin: 10px 0;
    padding: 10px;
    background-color: pink;
}

.imageContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.imageContainer h3 {
    margin: 0;
}

.imageContainerP {
    text-align: center;
}

.fleche{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.arrow-left, .arrow-right {
    height: 30px;
}

@media screen and (max-width:1024px){
    .gallery-image{
        height: 390px;
        width: 700px;
        margin: 5px 0;
        padding: 5px;
    }

    .texteContainer {
        padding: 0 60px;
    }

    .texteContainer h3 {
        font-size: 20px;
    }

    .imageContainerP {
        width: 700px;
    }

    .arrow-left, .arrow-right {
        height: 20px;
        padding-bottom: 5px;
    }
}

@media screen and (max-width:834px){
    .gallery-image{
        height: 330px;
        width: 600px;
        margin: 5px 0;
        padding: 5px;
    }

    .texteContainer {
        padding: 0 50px;
    }

    .texteContainer h3 {
        font-size: 18px;
    }

    .imageContainerP {
        width: 600px;
    }

    .arrow-left, .arrow-right {
        height: 20px;
        padding-bottom: 5px;
    }
}

@media screen and (max-width:768px){
    .gallery-image{
        height: 220px;
        width: 390px;
    }

    .texteContainer {
        padding: 0 30px;
    }

    .texteContainer h3 {
        font-size: 14px;
    }

    .imageContainerP {
        width: 390px;
    }
}

@media screen and (max-width:480px){
    .gallery-image{
        height: 200px;
        width: 360px;
    }

    .texteContainer {
        padding: 0 10px;
    }

    .texteContainer h3 {
        font-size: 12px;
    }

    .imageContainerP {
        width: 360px;
    }
}
