.partTechnologies {
    background: #c9dfec;
}

.cardTechnologie .technoIcons {
    height: 50px;
}

.cardTechnologie .technoIcons1 {
    color: #F93237;
}

.cardTechnologie .technoIcons2 {
    color: #187DB7;
}

.cardTechnologie .technoIcons3 {
    color: #F99C28;
}

.cardTechnologie .technoIcons4 {
    color: #68DBFB;
}

.cardTechnologie .technoIcons5 {
    color: #1B769D;
}